@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MovieInfoModel

<h3 style="color:white ; font-family: fantasy ; text-align: center">@Model.Title Information</h3>

<table class="table" style="table-layout: fixed">
    <tr>
        <th style="color: lemonchiffon ; font-size: large">Title</th>
        <th style="color: lemonchiffon ; font-size: large">Year</th>
        <th style="color: lemonchiffon ; font-size: large">Length</th>
        <th style="color: lemonchiffon ; font-size: large">Rating</th>
    </tr>

    <tr>
        <td style="color: white ; font-size: medium">@Model.Title</td>
        <td style="color: white ; font-size: medium">@Model.Year</td>
        <td style="color: white ; font-size: medium">@Model.Length</td>
        <td style="color: white ; font-size: medium">@Model.Rating</td>
    </tr>

</table>

<table class="table" style="table-layout: fixed">
    @*<tr>
        <th style="color: lemonchiffon ; font-size: large">Poster</th>
        <th style="color: lemonchiffon ; font-size: large">Plot</th>
    </tr>*@

    <tr>
        <td><div><img src="@Model.Poster" style="height:100%;width:100%" /></div></td>
        <td style="color: white ; font-size: medium">@Model.Plot</td>
    </tr>
</table>

<table class="table" style="table-layout: fixed">
    <tr>
        <th style="color: lemonchiffon ; font-size: large">Trailer</th>
    </tr>

    <tr>
        <td><div><a href="@Model.Link"></a></div></td>
    </tr>
</table>