
@model MovieInfoModel

<h3 style="color:white ; font-family: fantasy ; text-align: center">@Model.Title Information</h3>

<table class="table" style="table-layout: fixed">
    <tr>
        <th style="color: lemonchiffon ; font-size: large">Title</th>
        <th style="color: lemonchiffon ; font-size: large">Year</th>
        <th style="color: lemonchiffon ; font-size: large">Length</th>
        <th style="color: lemonchiffon ; font-size: large">Rating</th>
    </tr>

    <tr>
        <td style="color: white ; font-size: medium">@Model.Title</td>
        <td style="color: white ; font-size: medium">@Model.Year</td>
        <td style="color: white ; font-size: medium">@Model.Length</td>
        <td style="color: white ; font-size: medium">@Model.Rating</td>
    </tr>

</table>

<table class="table" style="table-layout: fixed ; text-align:center">
    <tr>
        <td>
            <a href="@Model.Link" class="btn btn-primary"><b>Watch Trailer</b></a>
        </td>
        <td>
            <div>
                <button type="submit" class="btn btn-primary"><a href="/Home/ViewActors">See Actors</a></button>
            </div>
        </td>
    </tr>
</table>

<table class="table" style="table-layout: fixed">

    <tr>
        <td><div><img src="@Model.Poster" style="height:100%;width:100%" /></div></td>
        <td style="color: white ; font-size: medium ; border: 1px solid">@Model.Plot</td>
    </tr>
</table>



@*<table class="table" style="table-layout: fixed">
    <tr>
        <th style="color: lemonchiffon ; font-size: large">Actors</th>
        <th style="color: lemonchiffon ; font-size: large">Characters</th>
    </tr>

    @foreach (var actor in Model)
    {
        <tr>
            <td style="color: white ; font-size: medium">@actor.Actor</td>
            <td style="color: white ; font-size: medium">@actor.Character</td>
        </tr>
    }

</table>*@